:root {
--nav-padding: .0em .7em 0 .7em;
font-size: 16px;
}

*{
    box-sizing: border-box;
}

@font-face{
font-family: WorkSans;
src: url(fonts/WorkSans.ttf);


}

a, a:link a:visited{
 text-decoration: none;
 color: black;
}


a:active {
    color: rgb(0, 255, 0);
    text-decoration: underline;
  }

a:hover{
    

    text-decoration: underline;
    
    }

body{
    background-color: rgb(231, 230, 230);
    font-family: WorkSans;
}



.home{
    display: block;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    color: black

}



.header-container{
    position: sticky;
    top: 0;
    Left: 0;
    width: 100%;
    height: 20px;
    align-items: stretch;
    z-index: 100;
    line-height: 1.2;
}

.navbar{
    display: flex;
    font-size: 1rem;
    border-bottom: solid 2px black;

}



.navbar-links{

    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 1rem;
    align-content: center;
    font-size: 20px;
    margin-left: auto;
}

.navbar-links li a{
    text-decoration: none;

}


.name-button{
    display: flex;
    font-size: 30px;
    padding: 1rem 3rem 1rem 3rem;
    border-right: 2px solid black;
    align-items: center;
    background-color: rgb(0, 255, 0);
}



.toggle-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 2px;
    width: 100%;
    background-color: black;
    border-radius: 10px
}

.about-page, .thoughts-page, .contact-page {

  flex-wrap: wrap;
  padding: var(--nav-padding);
  justify-content:  flex-end;

}

.navbar-links li:hover {
    
color: rgb(0, 255, 0);
text-decoration: underline;

}


.about-page-menu, .thoughts-page-menu, .contact-page-menu {
    font-size: 4rem;
    padding: 1rem;
}



/*HERO*/



.hero-wrapper{
margin-top: 50px;
width: 100%;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 2px solid black;

}

.hero-box{
    text-align: left;
margin-left: 200px;
margin-right: 200px;
width: 745px;
}

.hero-title{    
font-size: 6rem;
margin: 0;
font-style: normal;
}

.hero-text{
    font-size: 2rem;
}

.linkbox{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.button{
   border-color: black;
   text-decoration: none;
   background-color: rgb(0, 255, 0);
   font-size: 1rem;
width: 100px;
}

.port-box{
    display: block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 2px solid black;
    font-size: 25px;
}

.port-box:hover{
background-color: rgb(0, 255, 0);
text-decoration: underline;
cursor: pointer;
}

.port-text{
    display: block;
    padding-left: 15px;
}


/*RESPONSE*/

@media (max-width: 600px) {
   
   .toggle-button{
    display: flex;
   margin-top: 6px;

    
   }

.port-text{
    font-size: 0.90rem;
}


.side{

    border-left: 0px solid black;

}

.name-button{
    border-right: none;
    border-bottom: 2px solid black;
    padding: 1rem;
}

.navbar{
flex-direction: column;
border-bottom:none ;



}

.navbar-links {
    display: none;
    width: 100%;
    justify-content: center;
    background-color: rgb(0, 255, 0);
}

.navbar-links ul {
    width: 100%;
    flex-direction: column;
}

.navbar-links ul li {
    text-align: center;
    padding-bottom: 1000px;

}

.about-page, .thoughts-page, .contact-page {
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
}


.navbar-links.active {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    margin: auto;
    animation: opafade 0.5s;
    transition: top 2s ease 1s;
    top:0;
    overflow: hidden;
}

/*hero resize*/

.hero-box{
    margin-left: 30px;
    margin-right: 30px;

}


.hero-title{
    font-size: 2.5rem;
}

.hero-text{
    font-size: 1.4rem;
}


}




@keyframes opafade {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
